body{
    font-family: 'Quicksand', sans-serif;
    background-image: url('../images/baby.jpg');
    color: white;
    font-size: 20px;
  }

  h1{
    font-size: 36px;
    padding-top: 20px;
  }
  
  .container{
    width: 80%;
    margin: auto;
  }